name: android test run


on:
  schedule:
    - cron: '15 8 * * *'
jobs:
  run-android-test:
    runs-on: macos-latest

    steps:
      - name: pull the project in to runner
        uses: actions/checkout@v3

      - name: setup the java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Print today's date and time
        run: |
          mvn clean test -P date